.headerTor{
    background: #fff;
    color: #333;
}
.sider{
    
    background: #4164E1;
}
.logo{
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.ant-menu-dark{
    background: #4164E1;
}
.ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
    height: 20%;
    margin-bottom:0;
    
}
.ant-menu-item{
    margin-top: 0;
    border-left: 8px solid transparent;
}
.ant-menu-item span{
    font-size: 18px;
}
.ant-menu-item > a{
    text-align: center;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected{
    border-left: 8px solid #F6400C;
    
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background: #3554BB;
}
.ant-menu.ant-menu-dark{
    background: #4164E1;
}

.Gname{
 
  float: left
}
.Gname>img{
    width: 33px;
    height: 29px;
    margin-top: 10px;
    float: left;
}
.Gname>span{
    display: block;
    font-size: 24px;
    color: #fff;
    line-height: 50px;
    margin-left: 20px;
    float: left;
}
.time{
    float: right;
}
.time>span{
    font-size: 16px;
    color: #fff;
    display: block;
    margin-top: 10px;

}
.time .new{
    width: 20px;
    height: 15px;
    margin-top: 22px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.time .number{
    width: 35px;
    height: 18px;
    border-radius: 10px;
    background: #F64A0C;
    position: absolute;
    right: -25px;
    top: -8px;
    font-size: 10px;
    color: #fff;
    line-height: 15px;
    text-align: center;
}
.time .number>span{
    font-size: 10px;
    color: #fff;
    line-height: 17px;
    text-align: center;
    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap

}
.time .lvyue{
    font-size: 16px;
    color: #fff;
    margin-left: 35px;
    display: inline-block;
    line-height: 50px;
}
.ant-layout-header{
    line-height: 16px;
    height: 50px;
    padding: 0 2.5%;
    background: #4164E1;
}
.homePage{
    display: block;
}
.homePageT{
    display: none;
}
.homePage>.titledsfgdj{
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    display: block;
    height: 46px;
    background: #fff;
    margin-top: 8px;
    padding-left: 25px;
    line-height: 46px;
}
.homePage .divContent{
    overflow: hidden;
    margin-left: 25px;
    min-width: 1300px;
  
}
.homePage .divContent>div:nth-child(3){
clear: left;
 margin-left: 0;
}
.homePage .divContent>div{
    width: 280px;
    height: 120px;
    margin-left:2%;
    float: left;
    background: red;
    margin-top: 30px; 
    cursor: pointer;
}
.homePage .divContent>div:first-child{
    margin-left: 0;
    background: #3E66DF;
    border-radius: 6px;
}

.homePage .divContent>div:nth-child(2){
    background: #71CBFC;
    border-radius: 6px;
}
.homePage .divContent>div:nth-child(2) .right{
    background: #71CBFC;
}
.homePage .divContent>div:nth-child(3){
    background: #16E0E3;
    border-radius: 6px;
}
.homePage .divContent>div:nth-child(3) .right{
    background: #16E0E3;
}
.homePage .divContent>div:nth-child(4){
    background: #1FD4B5;
    border-radius: 6px;
}
.homePage .divContent>div:nth-child(4) .right{
    background: #1FD4B5;
}

.homePage .divContent>div:nth-child(5){
    background: #F6410C;
    border-radius: 6px;
   
}
.homePage .divContent>div:nth-child(5) .right{
    background: #F6410C;
}
.homePage .divContent .left{
    float: left;
}
.homePage .divContent .left span:first-child{
    font-size: 22px;
    display: block;
    color: #FFFFFF;
    margin-top: 5%;
    margin-left: 17px;
}
.homePage .divContent .left span{
    font-size: 17px;
    display: block;
    color: #FFFFFF;
    margin-left: 17px;
}
.homePage .divContent  .right{
    width: 60px;
    height: 100%;
    background: #3E66DF;
    border-radius: 0 6px 6px 0;
    float: right;
    border-left: 0.5px solid#e4e4e4;
}
.homePage .divContent  .right img{
    display: block;
    margin: 70% auto 0;
    width: 30px;
    height: 29px;
}
.homePage .xing{
    margin-top: 10px;
}
.homePage .xing>img{
    margin-left: 5px;
    width: 25px;
    height: 25px;
}
.homePage .xing>img:first-child{
   margin-left: 15px;
}

.ant-spin-dot-item{
    background: #FCBB4F;
}
.ant-notification-notice{
    padding: 4px 2px;
}
.ant-notification-notice-btn{
    margin-top: 0;
}
.ant-notification-notice-close{
    top: 5px;
}
.ant-layout-footer{
    padding: 0px;
    text-align: center;

}
.xian{
    height: 8px;
    background: rgb(245, 245, 245);
}
.footerC{
    position: absolute;
    bottom: 0px;
}
.footerC>div{
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.koTwoSjok .ant-modal-close-x{
    line-height: 36px;
}
.koTwoSjok .content {
    overflow: hidden;
    border-bottom: 1px solid #E9E9E9;
}
.koTwoSjok .content .left{
   width: 63px;
   height: 63px;
   float: left;
}
.koTwoSjok .content .left>img{
    width: 100%;
    height: 100%;
 }
 .koTwoSjok .content .right{
     float: left;
 }
 .koTwoSjok .content .right>span:first-child{
     margin-top: 5px;
 }
 .koTwoSjok .content .right>span{
     display: block;
     font-size: 16px;
     font-weight: 500;
 }
 .koTwoSjok .Choose{
     margin-top: 10px;
     overflow: hidden;
 }
 .koTwoSjok .Choose .text{
     display: block;
     font-size: 14px;
     color: #9B9B9B;
     margin-top: 14px;
 }
 .koTwoSjok .Choose .select{
      width: 110px;
      height: 29px;
      border: 1px solid #9B9B9B;
      border-radius: 2px;
      font-size: 12px;
      text-align: center;
      line-height: 29px;
      float: left;
      margin-top: 10px;
      margin-left: 9px;
      cursor: pointer;
 }
 .koTwoSjok .Choose .select:nth-child(3){
     margin-left: 0;
 }

 .koTwoSjok .masking{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.koTwoSjok .hidden{
    display: none;
}
.koTwoSjok .masking img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.Gname .selectEd{
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    margin-top: 10px;
    min-width: 150px;
}
.Gname .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    background-color: transparent;
    border:none;
    
}