
.forgetPassWord .header{
	width: 100%;
	height: 80px;
	background:rgba(67,101,230,1);
}
.forgetPassWord .heCenter{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.forgetPassWord .heCenter .logo{
	display: block;
	width: 96px;
	height: 92px;
	margin-top: 14px;
	float: left;
}
.forgetPassWord .heCenter .title{
	font-size: 20px;
    color: #FFFFFF;
    display: block;
    float: left;
    margin-left: 14px;
    line-height: 80px;
	font-family: PingFang-SC-Bold;
}
.forgetPassWord .content{
	width: 400px;
	height: 423px;
	margin: 160px auto 0;
	
}
.forgetPassWord .content .title{
	font-size: 18px;
	color: #333333;
	display: block;
	margin-bottom:40px;
	margin-left: 18px;
}
.forgetPassWord .phone{
	width: 291px;
	height:45px;
	margin-left: 20px;
	font-size: 14px;
}
.forgetPassWord .huoBtn{
	width: 94px;
	height: 45px;
	background: #F5A623;
	border-radius: 2px;
	margin-left: 20px;
	color: #fff;
	display: block;
	float: left;
	line-height: 45px;
	cursor: pointer;
}
.forgetPassWord .son{
	overflow: hidden;
}
.forgetPassWord .code{
	width: 291px;
	margin-left: 33px
}
.forgetPassWord .confirm{
	margin-left: 19px;
	width: 291px;
}
.forgetPassWord .confirmBtn{
	background: #F5A623;
	border-radius: 2px;
	width: 94px;
	height: 32px;
	color:#fff;
	margin-left:-122px;
	margin-top: 30px;
}
.koohidden{
	display: none
}
.forgetPassWord .radio{
	margin-left:-120px;
}
.selectVeun{
	display: block;
	margin-left: 80px;
}
.selectVeunNone{
	display: none;
}
.forgetPassWord .ant-form-item{
	margin-bottom: 0;
}
.forgetPassWord .ant-input-suffix{
	padding-right: 15px;
}
