.corporatePh{
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
}
.corporatePh .am-navbar{
    background: #374D66;
  }
.corporatePh .loginInput {
    width: 20rem;
    margin: 2rem auto 0;
}
.corporatePh .loginInput .name{
    width: 100%;
    min-height: 46px;
    border-bottom: 0.06rem solid #999999;
    margin-top: 1rem;
}
.corporatePh .loginInput .name .phone{
    outline: none;
    width: 70%;
    height:44px;
    border: none;
    line-height: 44px;
    display: block;
    float: left;
}
.corporatePh .loginInput .name>span{
  display: block;
  float: right;
  line-height: 3.06rem;
  font-size: 0.75rem;
}
.corporatePh .loginInput .name .obtain{
    width:5.56rem;
    height:1.5rem;
    background:rgba(216,93,39,1);
    border-radius:0.75rem;
    float: right;
    font-size:0.75rem;
    font-weight:500;
    color:rgba(255,255,255,1);
    text-align: center;
    line-height: 1.7rem;
    margin-top: 0.5rem;
    display: block
}
.corporatePh .loginBtn{
    width:20.44rem;
    height:2.69rem;
    background:rgba(216,93,39,1);
    border-radius:1.34rem;
    margin-top: 2rem;
    font-size:1.06rem;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:2.69rem;
    text-align: center;
}
.corporatePh .footer>span{
   display: block;
   float: left;
   font-size:0.75rem;
   padding: 0.4rem;
}
.corporatePh .footer>span:last-child{
    display: block;
    float: right;
    font-size:0.75rem;
    padding: 0.4rem;
 }

 .corporatePh .ant-input{
    border: none;
}
.corporatePh .ant-input:focus {
   border: none;
   box-shadow: none;
}
.corporatePh .koohidden{
    display: none
}
.corporatePh .radio{
    margin-top: 1rem;
}
.corporatePh .headerTitle{
    height: 3rem;
    background: #fff;
    border-bottom: 0.06rem solid #F5F5F5;
    line-height: 3rem;
    text-align: center;
    position: relative;
    
}
.ant-radio-inner::after{
    background-color:#D85D27 ;
}
.ant-radio-checked .ant-radio-inner{
    border-color: #D85D27;
}