.orderPh .headerNav>div{
    display: inline-block;
    padding:0.5rem 1rem;
}

.hidden{
    display: none
}
.orderPh .activityList .select{
    width: 90%;
    margin: 0.5rem auto 0;
}
.orderPh .activityList .list{
    border-bottom: 0.06rem solid #f5f5f5;
}

.orderPh .activityList .list .ant-col>span{
    font-size: 0.75rem;
}
.orderPh .activityList .select{
   overflow: hidden;
}
.orderPh .activityList .select>Row>Col>span{
    color: #9B9B9B
}
.orderPh .activityList .select .sending{
    width: 4rem;
    height: 2.5rem;
    display: block;
}
.orderPh .activityList .screen{
   position: absolute;
   top:3.8rem;
   right: 1rem;
}
.orderPh .hidden{
    display: none;
}
.drawerBoss{
    margin-top: 1rem;
    overflow: hidden;
}
  .drawerBoss>div{
    float: left;
    width:4.5rem;
    height:2rem;
    background:rgba(243,243,243,1);
    border-radius:0.19rem;
    color: #333;
    font-size: 0.88rem;
    line-height: 2rem;
    text-align: center;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.drawerBoss>div:nth-child(4n+1){
    margin-left: 0;
}

.drawerBossTwo{
    margin-top: 1rem;
    overflow: hidden;
}
  .drawerBossTwo>div{
    float: left;
    padding: 0.3rem 0.8rem;
    background:rgba(243,243,243,1);
    border-radius:0.19rem;
    color: #333;
    font-size: 0.88rem;
    line-height: 2rem;
    text-align: center;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.drawerBossTwo>div:nth-child(4n+1){
    margin-left: 0;
}
.drawerBtn{
    overflow: hidden;
    margin-top: 4rem;
}
.drawerBtn>div{
    width: 49%;
    height:2.75rem;
    border-radius:0.19rem;
    border:0.06rem solid rgba(233,233,233,1);
    float: left;
    text-align: center;
    line-height: 2.75rem;
    color: #9B9B9B;
}
.drawerBtn>div:last-child{
    margin-left: 2%;
    background:rgba(216,93,39,1);
    color: #fff;
}
.bookingKanban .modTitle{
    height: 3rem;
    border-bottom: 0.06rem solid #f5f5f5
}
.bookingKanban .modTitle>span{
    display: block;
    line-height: 3rem;
    float: left;
    margin-left: 0.3rem;
    font-size:0.75rem;
}
.bookingKanban .modTitle>.blue{
    width:1rem;
    height:1rem;
    background:rgba(86,165,255,1);
    border-radius:0.13rem;
    margin-top: 1rem;
}

.bookingKanban .modTitle>.white{
    width:1rem;
    height:1rem;
    background:rgba(233,233,233,1);
    border-radius:0.13rem;
    margin-top: 1rem;
}

.bookingKanban .modTitle>.yellow{
    width:1rem;
    height:1rem;
    background:rgba(245,166,35,1);
    border-radius:0.13rem;
    margin-top: 1rem;
}
.bookingKanban .modTitle>.red{
    width:1rem;
    height:1rem;
    background:red;
    border-radius:0.13rem;
    margin-top: 1rem;
}
.bookingKanban .locaList>div{
    float: left;
    margin-top: 0.3rem;
    margin-left: 0.7rem;
    overflow: hidden;
    color:rgba(155,155,155,1);
}
.bookingKanban .lookList{
   overflow: scroll;
   width: 100%;
}

.bookingKanban .lookList .headerSon>span{
    width:3.13rem;
    height:1.88rem; 
    display: block;
    margin-left: 0.12rem;
    float:left;
    text-align: center;
    line-height: 1.88rem;
}
.bookingKanban .lookList .sonList{
    overflow: hidden;
    clear: both;
}
.bookingKanban .lookList .sonList>span{
    width:3.13rem;
    height:1.88rem; 
    display: block;
    margin-left: 0.12rem;
    float:left;
    text-align: center;
    line-height: 1.88rem;
    margin-top: 0.12rem;
}
.orderPh .date{
   position: absolute;
   top: 3.5rem;
   right: 1rem;
}
.orderPh  .ant-input{
    height: 2rem;
    width: 8rem;

}