.orderPh .headerNav>div{
    display: inline-block;
    padding:0.7rem 1rem;
}



.orderPh{
    font-size: 0.75rem;
    height: 95%;
    position: relative;
    background: #F5F5F5;
   
}
.orderPh .headerNav{
    background: #fff;
}

.hidden{
    display: none
}

.fenye{
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.orderPh .activityList {
    height: 90%;
    overflow: hidden;
    padding-bottom: 2rem;
    
}
.orderPh .activityList .select{
    width: 100%;
    background: #f3f3f3;
    color:#333;
  
}


.orderPh .activityList .list{
    border-bottom: 0.06rem solid #e9e9e9;
}
.orderPh .headSelect{
    height: 2rem;
    background: #f5f5f5;
}

.orderPh .activityList .list .ant-col>span{
    font-size: 0.75rem;
}
.orderPh .activityList .select{
   overflow: hidden;
}
.orderPh .activityList .select>Row>Col>span{
    color: #9B9B9B
}
.orderPh .activityList  .sending{
    width: 3.5rem;
    height: 1.7rem;
    display: block;
}
.orderPh  .screen{
   position: absolute;
   top:0.7rem;
   right: 1rem;
}
.orderPh .hidden{
    display: none;
}
.drawerBoss{
    overflow: hidden;
}
  .drawerBoss>div{
    float: left;
    width:4.5rem;
    height:2rem;
    background:rgba(243,243,243,1);
    border-radius:0.19rem;
    color: #333;
    font-size: 0.7rem;
    line-height: 2rem;
    text-align: center;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.drawerBoss>div:nth-child(4n+1){
    margin-left: 0;
}

.drawerBossTwo{
    overflow: hidden;
}
  .drawerBossTwo>div{
    float: left;
    padding: 0.1rem 1.2rem;
    background:rgba(243,243,243,1);
    border-radius:0.19rem;
    color: #333;
    font-size: 0.7rem;
    line-height: 2rem;
    text-align: center;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.drawerBossTwo>div:nth-child(1){
    margin-left: 0;
}
.drawerBossTwo>div:nth-child(5){
    margin-left: 0;
}
.drawerBossTwo>div:nth-child(8){
    margin-left: 0;
    clear: left;
}

.drawerBtn{
    overflow: hidden;
    margin-top: 1rem;
}
.drawerBtn>div{
    width: 49%;
    height:2.75rem;
    border-radius:0.19rem;
    border:0.06rem solid rgba(233,233,233,1);
    float: left;
    text-align: center;
    line-height: 2.75rem;
    color: #9B9B9B;
}
.drawerBtn>div:last-child{
    margin-left: 2%;
    background:rgba(216,93,39,1);
    color: #fff;
}
.orderPh .bookingKanban{
    height: 95%;
    padding-bottom: 7rem;
}

.orderPh .bookingKanban .modTitle .cofirmZText{
    float: left;
    background-color: rgba(245,166,35,1);
    color: #fff;
    border-radius: 2px;
    padding: 0 0.2rem;
    margin-top: 0.6rem;
}


.orderPh .bookingKanban .modTitle{
    border-bottom: 0.06rem solid #e9e9e9;
    background:#fff;
    padding:0.7rem 0;
    overflow: hidden;
}
.orderPh .bookingKanban .modTitle .btnSi{
    display: block;
    background-color: rgba(245,166,35,1);
    color: #fff;
    padding: 0 0.1rem;
    border-radius: 2px;
    margin-top: 0.6rem;
}
.orderPh .bookingKanban .modTitle>span{
    display: block;
    float: left;
    margin-left: 0.3rem;
    font-size:12px;
}
.orderPh .bookingKanban .modTitle>.blue{
    width:1rem;
    height:1rem;
    background:rgba(86,165,255,1);
    border-radius:0.13rem;
    font-size: 12px;
    margin-top: 0.1rem;
    float: left;
}

.orderPh .bookingKanban .modTitle>.white{
    width:1rem;
    height:1rem;
    background:#E9E9E9;
    border-radius:0.13rem;
    margin-top: 0.1rem;
    float: left;
}

.orderPh .bookingKanban .modTitle>.yellow{
    width:1rem;
    height:1rem;
    background:rgba(245,166,35,1);
    border-radius:0.13rem;
    margin-top: 0.1rem;
    float: left;
}
.orderPh .bookingKanban .modTitle>.red{
    width:1rem;
    height:1rem;
    background:red;
    border-radius:0.13rem;
    margin-top: 0.1rem;
    float: left;
}
.orderPh .bookingKanban .locaList{
    overflow: hidden;
    width: 900px;
    padding-bottom: 0.5rem;
    overflow-x: auto;
    -webkit-overflow-scrolling : touch
}
.orderPh .bookingKanban .locaList>div{
    float: left;
    margin-top: 0.3rem;
    margin-left: 0.8rem;
    overflow: hidden;
    color:#333;
    
}
.orderPh .bookingKanban .lookList{
   overflow-y: scroll;
   white-space: nowrap;
   height: 100%;
   position: relative;
   background: #fff;
   padding-bottom: 10rem;
   -webkit-overflow-scrolling : touch
}

.orderPh .bookingKanban .lookList::-webkit-scrollbar {/*滚动条整体样式*/
    display: none;
}
.orderPh  .topFixd{
    z-index: 9;
    background: #fff;
    transition: 0.1s;
    position: absolute;
}
.orderPh  .headerSon .topFixd>span{
    width:4.13rem;
    height:1.88rem; 
    display: block;
    margin-left: 0.12rem;
    display: inline-block;
    text-align: center;
    line-height: 1.88rem;
}
.orderPh .sonList{
    clear: both;
    position: relative;
}
.orderPh .sonList>span{
    width:4.13rem;
    height:1.88rem; 
    display: block;
    margin-left: 0.12rem;
    float:left;
    text-align: center;
    line-height: 1.88rem;
}
.orderPh .sonList>div{
    width: 4.13rem;
    background: #fff;
    position: absolute;
    transition: 0.1s;
    line-height: 0.75rem;
    top: -0.3rem;
    margin-top: 0;
    margin-left: 0;
    height: 2rem;
    z-index: 99;
    padding-bottom: 3rem;
}
.orderPh .dateT{
   position: absolute;
   top: 0rem;
   right: 0rem;
   width: 5rem;
   min-height: 38px;
   padding-left: 0;
}

.orderPh .circumstanceT{
    display: none;
}

.orderPh .contentT{
 
                                                                                                           
}

.orderPh .ant-input{
    border:none;
    box-shadow: none;
    background: transparent;
    font-size: 0.75rem;
 }

 .orderPh .ant-input::-webkit-input-placeholder {
     font-size: 0.75rem;
 }

 .orderPh .dateTime{
     line-height: 1.5rem;
     text-align: left;                                                                                                                                                                                       
 }
 

.orderPh .ant-input:focus{
   border:none;
}

.orderPh .ant-result-icon{
    margin-bottom: 0;
}
.orderPh .ant-result-title{
    font-size: 0.75rem;
}

.orderPh .ant-select-selection{
    background: transparent;
}
.drawerInputOrder .ant-input{
    border:none;
    box-shadow: none;
    padding-left: 0;
}

 .orderPh .ant-calendar-picker-icon{
     right: 20px;
 }
 
 .kodrAwer .ant-drawer-header .ant-drawer-title{
     font-size: 14px;
 }
 .kodrAwer .ant-drawer-close{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
 .orderPh .am-card{
     width: 96%;
     margin: 5px auto 0;
     border-top: 1px solid #f5f5f5;
 }
 .orderPh .am-card-header{
     padding: 0;
     height: 40px;
     font-size: 14px;
 }
 .orderPh .am-card-body{
     padding: 3px 0 0px 3px;
    
 }
 .orderPh .am-card-header .am-card-header-content{
     height: 40px;
 }
 .orderPh .am-card-header .am-card-header-content img{
     height: 100%;
 }
 .activityList .am-card-header-extra{
     flex: 1;
 }
 .activityList .am-card-footer{
     padding:0 7px;
 }
 .activityList .sendingTwo{
     float: right;
     margin-top: -5px;
     margin-right: 20px;
 }
 html:not([data-scale]) .am-card-body{
     border-top: 1px solid #ddd;
 }

 html:not([data-scale])  .am-card-header{
    border-radius: 0;
    border-bottom: none;
}
html:not([data-scale]) .am-card-body::before{
    height: 0;
}
.orderPh .inputAppList{
    height: 26px;
    padding: 0; 
    text-align:center;
    font-size: 12px;
}

.orderPh .ant-input-affix-wrapper .ant-input:not(:last-child){
    padding-right: 0;
}
.orderPh .ant-input-affix-wrapper .ant-input-suffix{
    top: 8px;
    right: 1px;
}

.lookFir .ant-select-selection__rendered{
    margin:0;
}
.lookFir .ant-select-no-arrow .ant-select-selection__rendered{
    margin-right: 0;
}
.lookFir .ant-select-selection--single .ant-select-selection__rendered{
    margin-right: 0;
} 




.lookFir .ant-select-selection__placeholder, .ant-select-search__field__placeholder{
    right: 0;
    text-align: center;
}

.am-modal-transparent .am-modal-content{
    font-size: 14px;
}
.am-modal-button-group-h .am-modal-button{
    font-size: 14px;
}
.am-list-item.am-input-item{
    padding-left: 0;
}
.am-list-item .am-list-line{
    padding-right: 0;
}
.inputModel{
    border-bottom: 1px solid #ddd;
}
.inputModel .am-list-line .am-input-label{
    width: 50px;
}
.am-modal-header .am-modal-title{
 font-size: 14px;
}
.am-modal-footer .am-modal-button{
    font-size: 14px;
}

.drawerInputOrder .am-list-item .am-list-line .am-list-content{
    font-size: 0.7rem;
    
}
.drawerInputOrder .am-list-item .am-list-line .am-list-extra{
    font-size: 0.7rem;
  }
.drawerInputOrder .am-list-item{
    padding-left: 0;
   
}


.dateT  .am-list-line .am-list-extra{
    flex-basis: 100%;
    font-size: 12px;
    color:#000;
    text-align: left;
}

.orderPh .ant-table-thead > tr > th{
    text-align: center;
}
.orderPh .ant-table-tbody > tr > td{
    padding:2px 2px; 
    text-align: center;
    color: #fff; 
    width: 76px;
}
.orderPh .ant-table-tbody > tr > td:first-child{
    background-color: #fff;
}


.orderPh .ant-table-body .ant-table-row-hover{
	background: transparent;
}
.orderPh .ant-table-body .ant-table-row-hover>td{
	background: transparent;
}

 
.orderPh .ant-table-tbody > tr{
    background-color: #fff;
}




.orderPh .ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container{
    height: 100%;
}
.orderPh .ant-table{
    height: 100%;
}
.orderPh .ant-spin-container{
    height: 97%;
}
.orderPh .ant-table-container{
    height: 100%;
}
.orderPh .ant-spin-nested-loading{
    height: 96%;
}
.orderPh .ant-table-wrapper{
    height: 85%;
}
.orderPh .cardBody{
    font-size: 12px;
}
.orderPh .cardHeader{
    line-height: 13px;
    padding-right: 0.5rem;
    text-align: right;
    font-size: 12px;
}
.orderPh .cardBody .footerOne{
    display: block;
    width: 90px;
    float: left;
    margin-left: 0.5rem;
}
.orderPh .head{
    width: 100%;
    padding: 0.7rem 0;
    background-color: #fff;
    overflow: hidden;
    border-top: 0.12rem solid #E9E9E9;
}
.orderPh .head .headTop{
    padding: 0.2rem 0.5rem;
    float: left;
    background: #F5F5F5;
    border-radius: 2px;
    border: 1px solid #E1E0E1;
    margin-left: 0.5rem;
}
.momo .ant-drawer-body{
    padding: 7px;
}