
.register .header{
	width: 100%;
	height: 80px;
	background:rgba(67,101,230,1);
}
.register .heCenter{
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.register .heCenter .logo{
	display: block;
	width: 96px;
	height: 92px;
	margin-top: 14px;
	float: left;
}
.register .heCenter .title{
	font-size: 20px;
    color: #FFFFFF;
    display: block;
    float: left;
    margin-left: 14px;
    line-height: 80px;
    font-family: PingFang-SC-Bold;
}
.register .rightWaning{
   color: #F64A0C;
   position: absolute;
   left: 80px;
   top: -30px;
   font-size: 14px;
}
.register .content{
	width: 80%;
	margin: 20px auto;
	-moz-box-shadow:0 2px 2px  2px #DDDDDD; 
	-webkit-box-shadow:0 2px 2px  2px #DDDDDD;
	box-shadow:0 2px 2px  2px #DDDDDD;
	overflow: hidden;
}
.register .nav{
	width: 95%;
	margin: 20px auto;
	display: flex;
}
.register .nav div:first-child{
  color: #fff;
}
.register .nav div>span{
	position: absolute;
	display: block;
	line-height: 43px;
	text-align: center;
	z-index: 99;
	width: 100%;
}
.register .nav div>img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.register .nav div{
   flex: 1;
   height: 43px;
   color: #333;
   line-height: 43px;
   text-align:center;
  position: relative;
}
.register .authentication{
	width: 500px;
	margin: 50px auto 0;
	overflow: hidden;
	padding-bottom: 50px;
}
.register .authentication .title{
	font-size: 20px;
	color: #4A4A4A;
	font-weight: bold;
}
.register .formSub{
	margin-top: 30px;
}
.register .son{
	position: relative;
}
.register .phone{
	width: 425px;
	height: 40px;
	float: right;
	font-size: 14px;
}
.register .son{
	margin-top: 30px;
}
.register .son>span{
	line-height: 40px;
}
.register .xing{
	font-size: 16px;
	color: #F64A0C;
}
.register .huoBtn{
	width: 94px;
	height: 32px;
	background: #F5A623;
	border-radius: 2px;
	margin-left: 16px;
	color: #fff;
	float: right;
	margin-top: 6.5px
}
.register .code{
	width: 315px;
}
.register .agreement{
	 width: 425px;
	 float: right;
	 font-size: 13px;
	 color: #4A4A4A;
	 margin-top: 20px;
}
.register .agreement .color{
	font-size: 13px;
	color: #F5A623;
}
.register .submint{
	width: 425px;
	height: 45px;
	background: #F5A623;
	border-radius: 2px;
	float: right;
	margin-top: 20px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 45px;
	text-align: center;
	cursor: pointer;

}
.register .Existing{
	font-size: 16px;
	color: #4A4A4A;
	width: 425px;
	float: right;
	margin-top: 20px;
}
.register .Existing span{
	font-size: 16px;
	color: #F5A623;
}
 .logoRegister{
	 display: block;
	margin: 80px auto 0;
}
 .modelTitle{
	font-size: 36px;
	color: #4A4A4A;
	display: block;
	text-align: center;
	margin-top: 30px;
}
 .modelPhone{
	font-size: 18px;
	color: #4A4A4A;
	text-align: center;
	display: block;
	margin-top: 15px;
}
  .remodelBtn{
	width: 105px;
	height: 32px;
	background: #F5A623;
	border-radius: 2px;
	left: 50%;
	margin-top: 15px;
	margin-left: -52px;
	color:#fff;
}




.ant-btn-sm{
	height: 30px;
	padding: 0 18px;
}