
.newsPh{
    height: 90%;
    font-size: 0.75rem;
}
.newsPh .newsheaderTitle{
   overflow: hidden;
   border-bottom: 0.12rem solid #f5f5f5;
}
.newsPh .newsheaderTitle>div{

    float: left;
    padding: 0.5rem 1rem;
}
.newsPh .newsheaderTitle>div:last-child{
    margin-left: 1rem;
}
.newsPh .receive{
    width: 90%;
    height: 85%;
    overflow: hidden;
    margin: 0 auto;
}
.newsPh  .recriveSon{
    overflow: hidden;
    margin-top: 1rem;
}
.newsPh  .recriveSon .notRead{
    width:0.5rem;
    height:0.5rem;
    background:rgba(216,93,39,1);
    border-radius: 50%;
    float: left;
    margin-top: 5%;
}
.newsPh  .recriveSon .img{
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    float: left;
    margin-left: 0.5rem;
}
.newsPh  .recriveSon .content{
    float: left;
    margin-left: 1rem;
    width: 75%;
}
.newsPh  .recriveSon .content .contentHead{
    overflow: hidden;
}
.newsPh  .recriveSon .content .contentHead>span:first-child{
    display: block;
    float: left;
    font-size:1rem;
    font-weight:600;
    color:rgba(51,51,51,1);

}
.newsPh  .recriveSon .content .contentHead>span:last-child{
    display: block;
    float: right;
    font-size:0.75rem;
    line-height: 1.5rem;
    color:rgba(151,151,151,1);
}
.newsPh  .recriveSon .content .contentText{
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    font-size:0.88rem;
    color:rgba(155,155,155,1);
    line-height:1.25rem;
    border-bottom: 0.06rem solid #f5f5f5;
    min-height: 2rem;
}
.newsPh>.none{
   opacity: 0;
}
.newsPh>.hidden{
  display: none
 }
 .newsPh .publish{
     width: 90%;
     height: 85%;
     margin: 0 auto;
    
 }
 .newsPh .contentScroll{
     height: 100%;
     overflow-y: scroll;
     padding-bottom: 2rem;
 }
 .newsPh .pubScroll{
     height: 100%;
     overflow-y: scroll;
     padding-bottom: 2rem;
 }
 
 .newsPh .contentScroll::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.newsPh .pubScroll::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.newsPh .ant-result-icon{
    margin-bottom: 0;
}
.newsPh .ant-result-title{
    font-size: 0.75rem;
}