.sitePh{
    height: 100%;
}
.sitePh .header{
    height: 2.81rem;
    border-bottom: 1px solid #E9E9E9;
}
.sitePh .header>div{
    width: 50%;
    float: left;
    text-align: center;
    font-size: 1rem;
    line-height: 2.81rem;
}
.sitePh .wsMa4{
    height: 90%;
    background-color: #F5F5F5;
}
.sitePh .wsMa4 .Subdivide{
    overflow-y: auto;
    height: 75%;
}
.sitePh .wsMa4 .Subdivide .card{
  width: 95%;
  margin: 0.75rem auto 0; 
}
.sitePh .wsMa4 .Subdivide .card .titleLeft{
    color: #D85D27;
    font-size: 0.88rem;
}
.sitePh .wsMa4 .Subdivide .card .titleRight{
    color: #000;
    font-size:0.75rem ;
}
.sitePh .wsMa4 .Subdivide .card .idxNum{
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 0.88rem;
    color: #000;
    
}
.sitePh .wsMa4 .Subdivide .card .number{
    color: #000;
    font-size: 0.88rem;
} 
.sitePh .wsMa4 .footerSite{
    width: 95%;
    height: 2.5rem;
    margin: 0.5rem auto 0;
}
.sitePh .wsMa4 .footerSite>div{
    width: 48%;
    float: left;
    background: #fff;
    line-height: 2.5rem;
    border-radius: 0.19rem;
    text-align: center;
    color: #D85D27;
}
.sitePh .wsMa4 .footerSite>div img{
    width: 0.81rem;
    height: 0.81rem;
}
 .am-list-item .am-list-line .am-list-content{
    font-size: 0.88rem;
}
.am-list-item .am-list-line .am-list-extra{
    font-size: 0.88rem;
    flex-basis:50%;
}
.lpko  .am-list-line .am-list-extra{
    font-size: 0.88rem;
    flex-basis:80%;
}
.lopk  .am-list-line .am-list-extra{
    font-size: 0.88rem;
    flex-basis:80%;
}
.btnSub{
    width: 100%;
    height:2.69rem;
    background-color: #D85D27;
    color: #fff;
    text-align: center;
    font-size: 1.06rem;
    line-height: 2.69rem;
    border-radius: 2.69rem;
    margin-top: 1.5rem;
}
.sitePhtitle .titleHead{
    border-bottom: 1px solid #e9e9e9;
    overflow: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.sitePhtitle .titleHead .son{
    width: 5rem;
    height: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
    border-radius: 1.75rem;
    background: #E9E9E9;
    float: left;
    margin-left: 0.75rem;
    margin-top: 0.3rem;
    font-size: 0.75rem;
    position: relative;
}
.sitePhtitle .titleHead .son:nth-child(3n+1){
    margin-left: 0;
}
.sitePhtitle .titleHead .son:first-child{
    margin-left: 0;
}
.sitePhtitle .titleHead .son>div{
    position: absolute;
    width: 1rem;
    height:1rem;
    border-radius: 50%;
    background: #D85D27;
    color: #fff;
    right: -0.3rem;
    top:-0.3rem;
    line-height: 0.8rem;
}
.sitePhtitle .titleHead .InputItem{
    width: 40%;
    font-size: 0.75rem;
}
.sitePhtitle .titleHead span{
    color: #D85D27;
    font-size: 0.75rem;
    line-height: 2.5rem;
}
.capzuo>img{
    width: 1.37rem;
    height: 1.37rem;
    
}
.sitePhtitle .btnDetle{
    width: 5rem;
    height: 1.75rem;
    border-radius: 1.75rem;
    color: #fff;
    text-align: center;
    line-height: 1.75rem;
    margin-top: 0.5rem;
    float: left;
}
.sitePhtitle .btnComfir{
    height: 2.69rem;
    border-radius: 2.69rem;
    background: #D85D27;
    color: #fff;
    font-size: 1.06rem;
    text-align: center;
    line-height: 2.69rem;
    clear: both;
    margin-top: 6rem;
}
.sitePhSerial{
    width: 100%;
    max-height: 23rem;
    float: left;
}
.sitePhSerial div{
    width:1.7rem;
    height:1.7rem;
    text-align: center;
    line-height: 1.7rem;
    float: left;
    background:#F3F3F3;
    color:#000;
    margin-left: 0.5rem;
    margin-top: 0.6rem;
}
.sitePhSerialHeader{
    float: right;
}
.sitePhSerialHeader>span{
   padding: 0 0.5rem;
}
.sitePhFooter{
    width: 90%;
    height: 2.5rem;
    margin-top: 1rem;
    margin-left: 5%;
    background: #D85D27;
    border-radius: 2.5rem;
    font-size: 1rem;
    text-align: center;
    line-height: 2.5rem;
    color: #fff;
    float: left;
}
.sitePh .request img {
       width: 4rem;
       height: 4rem;
       display: block;
       margin: 4rem auto 0;
}
.sitePh .request div{
    text-align: center;
}

.sitePh .siting68 .Subdivide .card{
    width: 95%;
    margin: 0.75rem auto 0; 
  }

  .sitePh .siting68{
    height: 90%;
    background-color: #F5F5F5;
}
.sitePh .siting68 .Subdivide{
    overflow-y: auto;
    height: 75%;
}

.sitePh .siting68 .Subdivide .card .titleLeft{
    color: #D85D27;
    font-size: 0.88rem;
}
.sitePh .siting68 .Subdivide .card .titleRight{
    color: #000;
    font-size:0.75rem ;
}
.sitePh .siting68 .Subdivide .card .bossname{
    overflow: hidden;
}
.sitePh .siting68 .Subdivide .card .bossname>div{
    width: 45%;
    font-size: 0.75rem;
    color: #000;
    float: left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.sitePh .siting68 .Subdivide .card .bossname>div:nth-child(2n){
    margin-left: 10%;
}
.sitePh .siting68 .Subdivide .card  .lookYou{
    width: 3.88rem;
    height: 1.38rem;
    background: #FFEAE0;
    text-align: center;
    line-height: 1.38rem;
    font-size: 0.63rem;
    color: #D85D27;
    border-radius: 1rem;
}

.sitePh .siting68 .footerSite{
    width: 95%;
    height: 2.5rem;
    margin: 0.5rem auto 0;
}
.sitePh .siting68 .footerSite>div{
    width: 48%;
    float: left;
    background: #fff;
    line-height: 2.5rem;
    border-radius: 0.19rem;
    text-align: center;
    color: #D85D27;
}
.sitePh .siting68 .footerSite>div img{
    width: 0.81rem;
    height: 0.81rem;
}
.am-modal-mask{
    z-index: 1001;
}
.am-modal-wrap{
    z-index: 1001;
}
.bianhao{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.LitName{
    width: 4rem;
    height: 2.13rem;
    background: #F3F3F3;
    border-radius:0.19rem;
    text-align: center;
    line-height: 2.13rem;
    float: left;
    margin-left: 0.8rem;
    margin-top: 0.5rem;
}
.LitBtn{
    height: 2.63rem;
    background-color: #D85D27;
    border-radius: 2.63rem;
    text-align: center;
    line-height: 2.63rem;
    color: #fff;
    font-size: 1.06rem;
    clear: both;
    margin-top: 7rem;
}
 .am-list-item .am-input-control .fake-input-container .fake-input{
    font-size: 0.88rem;
    color: #888;
}
 .am-list-item .am-input-control .fake-input-container .fake-input-placeholder{
    font-size: 0.88rem;
    color: #888;
}
.am-list-item .am-list-line .am-list-content{
    padding: 0;
}
.am-textarea-control textarea{
    font-size: 0.88rem;
}
.am-textarea-label{
    font-size: 0.88rem;
}
.am-list-item{
    border-bottom: 1px solid #e9e9e9;
}
.am-list-item.am-input-item{
    border:none
}
.Siscount{
    margin-top: 2rem;
}
.Siscount .leftSiscount{
    width: 49.5%;
    height: 2.5rem;
    float: left;
    color:#fff;
    text-align: center;
    line-height: 2.5rem;
    background: #D85D27;
    border-radius: 3px;
}
