.systemSettings{
    background: #F5F5F5;
    overflow: hidden;
    height: 100%;
}
.systemSettings .title{
    width: 100%;
    padding-left: 25px;
    font-size: 16px;
    color: #4A4A4A;
    display: block;
    height:46px;
    line-height: 46px;
    background: #fff;
    overflow: hidden;
}
.systemSettings .title>span{
    float: left;
}
.systemSettings .title .titleSpan{
    color: #F5A623;
    display: block;
    cursor: pointer;
}
.systemSettings .list{
    display: block;
    margin-top: 8px;
    
}
.systemSettings .feedback{
    margin-top: 20px;
}
.systemSettings .listNone{
    display: none;
}
.ul{
    margin-left: 25px;
    background: #fff;
    margin-top: 8px;
}
.ul>li{
    padding:12px 0;
    font-size: 16px;
    color: #4A4A4A;
    border-bottom: 1px solid #E1E0E1;
    margin-left: -40px;
    list-style: none;
    cursor: pointer;
    padding-left: 36px;
}
.ul>li>span{
    display: block;
}
.ul>li>span:last-child{
    margin-top: 20px;
    color: #4A4A4A;
}
.ul>li .block{
    display: block;
}
.ul>li .none{
    display: none;
}
.systemSettings .reset{
    display: block;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
}
.systemSettings .resetSon{
    width: 350px;
    height: 400px;
    margin:100px auto 0;
}
.systemSettings .ant-input{
    height: 35px;
    width: 250px;
}
.systemSettings .inputSon{
    margin-bottom: 21px;
}


.systemSettings .inputSon>span{
    width: 65px;
    line-height: 43px;
    
}

.systemSettings .inputSon .ant-input-affix-wrapper{
    width: 250px;
    margin-left: 15px;
    padding: 0px;
    
}
.systemSettings .inputSon .ant-input-affix-wrapper > input.ant-input{
    height: 43px;
    padding-left: 5px;
}
.systemSettings .inputSonT .ant-input-affix-wrapper{
    width: 160px;
    margin-left: 15px;
}
.systemSettings .obtainCode{
  width: 85px;
  height: 43px;
  background: #F5A623;
  border-radius: 2px;
  float: right;
  text-align: center;
  line-height: 43px;
  color: #fff;
  display: block;
  margin-right: 43px;
  cursor: pointer;
}
.systemSettings  .koohidden{
    width: 85px;
    height: 43px;
    background: #F5A623;
    border-radius: 2px;
    float: right;
    text-align: center;
    line-height: 43px;
    color: #fff;
    display: none;
    margin-right: 43px;
}
.systemSettings .ant-input-suffix{
    line-height: 43px;
    margin-right: 10px;
}
.systemSettings .submit{
    width: 94px;
    height: 32px;
    background: #F5A623;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    float: left;
    margin: 0 0 0 60px;
}
.systemSettings .Untie{
    display: block;
    height: 100%;
    overflow: hidden;
    background: #fff;
}
.systemSettings .one .selectN{
    width: 249px;
}
