.qualificationPh{
    height: 100%;
}
.qualificationPh .title{
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 3rem;
    background:#f5f5f5;
    color:#9B9B9B;
    position: relative;
    line-height: 3rem;
}
.qualificationPh .am-navbar{
    background: #374D66;
  }
.qualificationPh .headTtitle{
    width: 100%;
    height: 3rem;
    background: #fff;
    font-size:1rem;
    line-height: 3rem;
    padding-left: 0.5rem;
    border-bottom:0.06rem solid #f5f5f5;
}
.qualificationPh .boss{
    height: 95%;
    float: left;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 10rem;
    overflow-y: auto;
    position: relative;
}
.qualificationPh .boss .input{
    width: 92%;
    min-height: 3rem;
    margin: 0 0 0 2.5%;
    border-bottom: 0.06rem solid #f3f3f3;
    float: left;
    padding: 0.2rem 0;
    position: relative;
}
.qualificationPh .boss .input>span{
    font-size:0.88rem;
    line-height: 3rem;
    float: left;
    color: #333;
}
.qualificationPh .boss .input .select{
    width:68%;
    height: 2.9rem;
    float: right;
    background: #fff;
    margin-right: 1rem;
    font-size: 0.75rem;
}
.qualificationPh  .arow{
    width: 0.44rem;
    height: 0.69rem;
    display: block;
    float: right;
    margin-top: 1.1rem;
}
.qualificationPh .ant-input{
    border:none;
}

.qualificationPh .ant-cascader-picker:focus .ant-cascader-input {
    border: none;
    box-shadow: none;
}



 .qualificationPh .ant-input:focus {
    border: none;
    box-shadow: none;
}
.qualificationPh .input .imgAddress{
    width: 15px;
    height: 22px;
    margin-top: 0.88rem;
}
.qualificationPh .addImg{
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
}
.qualificationPh .left{
    margin-left: 2.3rem;
}

.qualificationPh .addImg .ant-upload.ant-upload-select-picture-card > .ant-upload{
 width: 100%;
 height: 100%;
 overflow: hidden;
 display: block;
 position: relative;
}
.qualificationPh .left .ant-upload.ant-upload-select-picture-card{
    width: 4rem;
    height: 4rem;
    margin:0;
    padding: 8px;
    border: 0.06rem dotted #ccc;
    background-color: #fff;
}

.qualificationPh .addimgT .ant-upload.ant-upload-select-picture-card{
    width: 4rem;
    height: 4rem;
    margin:0;
    padding: 8px;
    border: 0.06rem dotted #ccc;
    background-color: #fff;
}
.qualificationPh .ant-checkbox-wrapper{
    width: 6rem;
    margin-top: 8px;
}
.qualificationPh .radio{
    width: 68%;
    float: right;
    margin:0.88rem 0 0 0;
}
.qualificationPh .loTitle{
    font-size: 1rem;
    padding:1rem 2.5%;

}
.qualificationPh .btn{
    width: 90%;
    height: 3rem;
    background:rgba(216,93,39,1);
    border-radius:1.34rem;
    color: #fff;
    font-size: 1.06rem;
    text-align: center;
    line-height: 3rem;
    margin-top: 2rem;
    margin-left: 5%;
}
.qualificationPh .ant-select-selection--single{
    height: 2.9rem;
    border:none;
    box-shadow: none;
}
.qualificationPh .ant-select-selection__rendered{
    line-height: 2.9rem;
}

.qualificationPh span.ant-radio + *{
    padding: 0;
}

.qualificationPh .ant-select-selection__rendered{
    margin-left: 0;
}
.qualificationPh .am-list-item{
    min-height: 3rem;
    padding-left: 0;
}
.qualificationPh .am-list-item .am-list-line .am-list-content{
    font-size: 0.88rem;
}
.qualificationPh .am-list-item .am-list-line .am-list-extra{
    font-size: 0.75rem;
    flex-basis:61%;
    color: #333;
    text-align: left;
}
.qualificationPh .am-checkbox.am-checkbox-checked .am-checkbox-inner{
    background: #D85D27;
    border-color: #D85D27;
}
.qualificationPh .am-list-item .am-list-line{
    padding-right: 0;
}
.qualificationPh .ant-select-disabled.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    margin-top: 0.5rem;
}
.qualificationPh .ant-upload.ant-upload-select-picture-card > .ant-upload{
    padding: 0;
}
.qualificationPh .lkpoji{
    width: 3rem;
   text-align: center;
	color: #fff;
	border-radius: 2px;
    background:rgba(216,93,39,1);
    cursor: pointer;
    float: right;
}
.qualificationPh .footerBtn{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    z-index: 1001;

}

.qualificationPh .footerBtn>div{
    width: 33%;
    height: 3rem;
    background:rgba(216,93,39,1);
    border-radius:0.2rem;
    color: #fff;
    font-size: 1.06rem;
    text-align: center;
    line-height: 3rem;
    float: left;
    margin-left: 0.3%;
}
.qualificationPh .ant-select:not(.ant-select-disabled):hover .ant-select-selector{
    border: none;
    box-shadow: none;
    margin-top: 0.6rem;
    padding: 0;
}
.qualificationPh .ant-select-show-search.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    border: none;
    box-shadow: none;
    margin-top: 0.6rem;
    padding: 0;
}
.qualificationPh .ant-select-disabled.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    background-color: #fff;
}
.qualificationPh .am-list-item .am-list-line .am-list-content{
    color: #333;
}
.qualificationPh .ant-input{
    color: #333;
}
.am-flexbox{
    overflow: visible;
}
.qualificationPh .am-image-picker-list .am-image-picker-upload-btn input{
    width: 5rem;
}
.qualificationPh .masking{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qualificationPh .hidden{
    display: none;
}
.qualificationPh .masking img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.qualificationPh .yinhangSelectTwo{
	width: 100%;
	height: 150px;
	top: -150px;
	border: 1px solid #e0e0e0;
	position: absolute;
	background-color: #fff;
	z-index: 1000;
	overflow-y: auto;
}
.qualificationPh .am-search{
    background: #fff;
    width: 80%;
    float: right;
}
.qualificationPh .am-search.am-search-start .am-search-input input[type="search"]{
    font-size: 0.75rem;
}
.qualificationPh .yinhangSelectTwo>div{
	cursor: pointer;
	text-align: left;
}
.qualificationPh .ant-input-affix-wrapper > input.ant-input{
    font-size: 0.8rem;
}

.qualificationPh .ant-input-affix-wrapper {
    border: none;
    border-bottom: 1px solid white !important;
    box-shadow: none;
}

