.loginPhTeo{
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
}
.loginPhTeo .loginInput {
    width: 20rem;
    margin: 2rem auto 0;
}
.loginPhTeo .loginInput .name{
    width: 100%;
    height: 46px;
    border-bottom: 0.06rem solid #f0f0f0;
}
.loginPhTeo .loginInput .name .phone{
    outline: none;
    width: 70%;
    height:41px;
    border: none;
    line-height:41px;
    display: block;
    float: left;
}
.loginPhTeo .loginInput .name>span{
  display: block;
  float: left;
  line-height: 46px;
  font-size: 0.75rem;
}
.loginPhTeo .loginBtn{
    width:90%;
    height:2.69rem;
    background:rgba(216,93,39,1);
    border-radius:1.34rem;
    margin: 2rem auto 0;
    font-size:1.06rem;
    color:rgba(255,255,255,1);
    line-height:2.69rem;
    text-align: center;
}
.loginPhTeo .footer>span{
   display: block;
   float: left;
   font-size:0.75rem;
   padding: 1rem;
}
.loginPhTeo .footer>span:last-child{
    display: block;
    float: right;
    font-size:0.75rem;
    padding: 1rem;
 }
 .loginPhTeo .ant-input{
     border: none;
 }
 .ant-input{
    height: 2.9rem;
}
 .loginPhTeo .ant-input:focus {
    border: none;
    box-shadow: none;
}
.loginPhTeo .headerTitle{
    height: 3rem;
    background: #fff;
    border-bottom: 0.06rem solid #F5F5F5;
    line-height: 3rem;
    text-align: center;
    position: relative;
}

