.homepage{
    position: relative;
    height: 100%;
    overflow: hidden;
    background: #fff;
    -webkit-overflow-scrolling: touch;
}
.homepage .kog{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.appOrder{
    font-size: 0.75rem;
    height: 100%;
    position: relative;
}
.appOrder  .screen{
   position: absolute;
   top:0.5rem;
   right: 1rem;
}
.appOrder .hidden{
    display: none;
}

.appOrder .bookingKanban{
    height: 90%;
}


.appOrder .bookingKanban  .titleDiv{
    width: 100%;
    height: 9%;
    background: rgb(245, 166, 35);
    overflow: hidden;
}

.appOrder .bookingKanban  .titleDiv .dayBefore{
    float: left;
    width: 4.5rem;
    height: 1.5rem;
    border:0.06rem solid #e9e9e9;
    border-radius: 5px;
    margin-top: 1rem;
    text-align: center;
    line-height: 2;
    color: #fff;
    margin-left: 2rem;
}
.appOrder .bookingKanban  .titleDiv  .nextDay{
    float: right;
    width: 4.5rem;
    height: 1.5rem;
    border:0.06rem solid #e9e9e9;
    border-radius: 5px;
    margin-top: 1rem;
    text-align: center;
    line-height: 2;
    color: #fff;
    margin-right: 2rem;
}
.appOrder .bookingKanban  .titleDiv .dayBefore>span{
    display: block;
}
.appOrder .bookingKanban  .titleDiv  .nextDay>span{
    display: block;
}


.appOrder .bookingKanban  .titleDiv .titleDivTwo{
    width: 40%;
    height: 1.5rem;
    margin: 5% auto 0;
    border-bottom: 0.12rem solid #fff;
    text-align: center;
    color: #fff;
}

.appOrder .bookingKanban .modTitle{
    width: 100%;
    height: 6%;
    border-bottom: 0.06rem solid #e9e9e9
}


.appOrder .bookingKanban .modTitle>span{
    display: block;
    float: left;
    margin-left: 0.3rem;
    font-size:0.75rem;
    margin-top: 0.5rem;
}
.appOrder .bookingKanban .modTitle>.blue{
    width:1rem;
    height:1rem;
    background:rgba(86,165,255,1);
    border-radius:0.13rem;
    margin-top: 0.5rem;
}

.appOrder .bookingKanban .modTitle>.white{
    width:1rem;
    height:1rem;
    background:#E9E9E9;
    border-radius:0.13rem;
    margin-top: 0.5rem;
}
.appOrder .ant-table-tbody > tr > td{
    padding:2px 2px; 
    text-align: center;
    color: #fff; 
    width: 76px;
    
}
.appOrder .ant-table-tbody > tr > td:first-child{
    background-color: #fafafa;
}
.appOrder .bookingKanban .modTitle>.yellow{
    width:1rem;
    height:1rem;
    background:rgba(245,166,35,1);
    border-radius:0.13rem;
    margin-top: 0.5rem;
}
.appOrder .bookingKanban .modTitle>.red{
    width:1rem;
    height:1rem;
    background:red;
    border-radius:0.13rem;
    margin-top: 0.5rem;
}
.appOrder .bookingKanban .locaList{
    overflow: hidden;
    width: 105%;
    padding-bottom: 0.5rem;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.appOrder .bookingKanban .locaList>div{
    float: left;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    overflow: hidden;
    color:rgba(155,155,155,1);
}
.appOrder .bookingKanban .lookList{
   overflow: scroll;
   white-space: nowrap;
   height: 100%;
   position: relative;
   -webkit-overflow-scrolling: touch;
}

.appOrder .bookingKanban .lookList::-webkit-scrollbar {/*滚动条整体样式*/
    display: none;
}
.appOrder .bookingKanban .lookList .topFixd{
    position: absolute;
    z-index: 10;
    background: #fff;
    transition: 0.1s;
}
.appOrder .bookingKanban .lookList .headerSon .topFixd>div>span{
    width:4.13rem;
    height:1rem; 
    display: block;
    margin-left: 0.12rem;
    display: inline-block;
    text-align: center;
    
}
.appOrder .bookingKanban .lookList .sonList{
    clear: both;
    position: relative;
}
.appOrder .bookingKanban .lookList .sonList>span{
    width:4.13rem;
    height:1.88rem; 
    display: block;
    margin-left: 0.12rem;
    float:left;
    text-align: center;
}
.appOrder .bookingKanban .lookList .sonList>span:first-child{ 
    background: #fff;
    position: absolute;
    top: -0.5rem;
    margin-top: 0;
    margin-left: 0;
    height: 2rem;
    z-index: 9;
    padding-bottom: 3rem;
}
.appOrder .dateT{
   position: absolute;
   top: 0.2rem;
   right: 1rem;
}
.appOrder  .ant-input{
    height: 2rem;
    width: 8rem;
}
.appOrder .circumstanceT{
    display: none;
}
.appOrder .ant-table-wrapper{
    height: 78%;
}
.appOrder .ant-spin-nested-loading{
    height: 100%;
}
.appOrder .ant-table{
    height: 100%;
}
.appOrder .ant-table-container{
    height: 100%;
}
.appOrder .ant-spin-container{
    height: 100%;
}

.appOrder .ant-table-tbody > tr > td{
    padding: 2px 2px;
    text-align: center;
   
}
.appOrder .contentT{
    height: 100%;
    padding-bottom: 15rem;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    white-space: nowrap;
}
.appOrder .contentT::-webkit-scrollbar {/*滚动条整体样式*/
   display: none;
}

.appOrder .ant-input{
    border:none;
    box-shadow: none;
    background: transparent;
    font-size: 0.75rem;
 }

 .appOrder .ant-input::-webkit-input-placeholder {
     font-size: 0.75rem;
 }

 .appOrder .dateTime{
     line-height: 1.5rem;
     text-align: left;
 }


.appOrder .ant-input:focus{
   border:none;
}

.appOrder .ant-result-icon{
    margin-bottom: 0;
}
.appOrder .ant-result-title{
    font-size: 0.75rem;
}

.appOrder .ant-select-selection{
    background: transparent;
}
.drawerInputOrder .ant-input{
    border:none;
    box-shadow: none;
    padding-left: 0;
}

 .appOrder .ant-calendar-picker-icon{
     right: 20px;
 }


 .appOrder .am-result{
     height: 98%;
 }
 .appOrder .am-result .am-result-title{
     font-size: 1rem;
 }
 .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
     padding: 8px 0;
     text-align: center;
 }
 .footerKo{
     width: 100%;
     height: 7%;
     background-color: #fff;
     border-top: 0.06rem solid #ccc;
     position: absolute;
     bottom: 0;
 }
 .appOrder .fontSize{
     color: #fff;
     padding-top: 0.5rem;
     text-align: center;
     display: block;
     width: 95%;
     margin: 0 auto;
 }
 .appOrder .btnAutoi{
     width: 1rem;
     height: 1rem;
     background: red;
     border-radius: 50%;
     margin: 0.2rem auto;
     line-height: 1rem;
     font-size: 0.6rem;
 }
 .appOrder .ant-table-cell>div{
     position: relative;
 }
 .appOrder .ant-table-cell>div>span{

     display: block;
     font-size: 12px;
     -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.8);
    padding-top: 5%;
    padding-left: 10%;
 }

 .appOrder .ant-table-cell>div>span:last-child{
     display: block;
     font-size: 12px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.6);
    
 }
 .appOrder .titleScale{
    -webkit-transform-origin-x: 0;
    font-size: 10px;
 }
 .ant-table-tbody > tr > td{
     border: none;
 }
 .appOrder .ant-table-cell>div>span:last-child{
     position: absolute;
     z-index: 999;
     bottom: 2px;
     line-height: 12px;
     right: 0;
 }
.appOrder .textPass{
    font-size: 0.75rem;
    position: absolute;
    bottom: 7%;
    width: 100%;
    line-height: 0.5rem;
    text-align: center;
    z-index: 999;
    height: 5%;
}

.appOrder .textPassTwo{
    font-size: 0.75rem;
    width: 100%;
    line-height: 0.5rem;
    text-align: center;
    z-index: 999;
    height: 5%;
}
.appOrder .ant-table-header{
    height: 8%;
}

