.inforSitePh{
    padding-bottom: 2rem;
    font-size: 0.75rem;
    background: #fff;
    height: 100%;
}
.inforSitePh .headTitle{
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    border-bottom: 0.06rem solid #f5f5f5;
    color: #fff;
}
.inforSitePh .nav{
    width: 100%;
    height: 3rem;
    border-bottom: 0.06rem solid #f5f5f5;
    position: relative;
    background: #374D66;
    color:#fff
}
.inforSitePh .nav .left{
    float: left;
    width: 50%;
    text-align: center;
    line-height: 3rem;
    font-size: 1rem;
    color: #9B9B9B;
}
.inforSitePh .ant-upload-list-picture-card-container{
    width: 4.5rem;
    height: 4.5rem;
}

.inforSitePh .basic::-webkit-scrollbar {/*滚动条整体样式*/
    display: none;
 }


.inforSitePh .nav .right{
    float: left;
    width: 50%;
    text-align: center;
    line-height: 3rem;
    font-size: 1rem;
    color: #9B9B9B;
}
.inforSitePh .listSon{
    width: 95%;
    min-height: 3rem;
    margin:0 auto 0;
    overflow: hidden;
    border-bottom: 0.06rem solid #f5f5f5;
    line-height: 3rem;
}
.inforSitePh .listSon .right{
    width: 80%;
    height: 3rem;
    float: right;
    border:none;
    box-shadow: none;
    line-height: 3rem;
    padding-left: 0.8rem;
    font-size: 0.75rem;
    color: #333;
}
.inforSitePh .listSon .rightLi{
    width: 80%;
    padding-bottom: 0.5rem;
    float: right;
    padding-left: 11px;
    margin-top: 0.5rem;
    font-size: 0.75rem;
}
.inforSitePh .listSon .rightLi .ant-checkbox-wrapper{
    float: left;
}

.inforSitePh .listSon .kop .ant-checkbox-wrapper{
    width: 40%;
}
.inforSitePh .ant-select-disabled.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    width: 100%;
    margin-top: 0.6rem;
}
.inforSitePh .ant-select-show-search.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    width: 100%;
    margin-top: 0.6rem;
}
.ant-radio-checked::after{
    border:1pxsolid #D85D27;
}
.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner{
    border-color: #D85D27;
}

.inforSitePh .addImg{
    float: right;
    width: 80%;
    padding-left: 11px;
    margin-top: 0.5rem;
}
.inforSitePh .ant-checkbox-wrapper{
    font-size: 0.75rem;
}

.inforSitePh .ko{
    float: right;
    width: 80%;
    padding-left: 11px;
    margin-top: 0.5rem;
}
.inforSitePh  .siteSubmit{
    width: 80%;
    height: 3rem;
    border-radius: 1.5rem;
    background: #D85D27;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    margin: 1rem auto 0;
}
.inforSitePh .none{
    display: none;
}
.inforSitePh .width{
    width: 100%;
    line-height: 3rem;
    text-align: center; 
    font-size: 1rem;
}
.inforSitePh .submit{
	width: 80%;
	height: 3rem;
	background: #D85D27;
	border-radius: 3rem;
	float: left;
	 margin-left: 10%;
	line-height: 28px;
	margin-bottom: 40px;
}

.inforSitePh .ant-select-selection{
    border: none;
    box-shadow: none;
    height: 3rem;
}
.inforSitePh .ant-select-selection__rendered{
  line-height: 3rem;
}
.inforSitePh .ant-input{
    background: transparent;
}
.inforSitePh .ant-upload.ant-upload-select-picture-card{
    width: 4.5rem;
    height: 4.5rem;
}
.inforSitePh .ant-upload-list-picture-card .ant-upload-list-item{
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 4px 4px 0;
}
.inforSitePh .ant-upload-list-picture-card .ant-upload-list-item{
    padding: 0;
}
.inforSitePh .ant-upload.ant-upload-select-picture-card > .ant-upload{
    padding: 0;
}

.inforSitePh .ant-checkbox + span{
    padding: 0;
}
.inforSitePh .am-list-item{
    padding-left: 0;
}
.textItem{
    border: none;
}
.textItem .am-textarea-label{
    color: rgba(0, 0, 0, 0.65);
    font-size: 0.75rem;
}