.untiePhonePh{
    font-size: 0.75rem;
}
.untiePhonePh .headTitle{
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1rem;
    border-bottom: 0.06rem solid #f5f5f5;
    position: relative;
    background: #374D66;
    color:#fff
}
.untiePhonePh .listSon{
    width: 90%;
    height: 2rem;
    margin:1rem auto 0;
    border-bottom: 0.06rem solid #f5f5f5;    
}
.untiePhonePh .ant-input{
    width: 13rem;
    height: 2rem;
    margin-top: -0.1rem;
    border:none;
    box-shadow: none;
    float: left;
    background: transparent;
}
.untiePhonePh .listSon>span{
    display: block;
    width: 6rem;
    height: 1.8rem;
    background:rgba(216,93,39,1);
    border-radius:1.8rem;
    font-size:0.75rem;
    font-family:PingFang-SC;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:1.8rem;
    text-align: center;
    float: right;
}
.untiePhonePh .btn{
    width: 90%;
    height: 2.69rem;
    background:rgba(216,93,39,1);
    border-radius:1.34rem;
    margin: 2rem auto 0;
    font-size:1.06rem;
    font-family:PingFangSC;
    color:rgba(255,255,255,1);
    line-height:2.69rem;
    text-align: center;
}