.homePagePh{
  height: 100%;
}
.homePagePh>div:first-child{
  width: 90%;
  height: 6rem;
  margin: 1rem auto 0;
  background-image: url('../../assets/one.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.homePagePh>div:nth-child(2){
  width: 90%;
  height: 6rem;
  margin: 1rem auto 0;
  background-image: url('../../assets/two.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.homePagePh>div:nth-child(3){
  width: 90%;
  height: 6rem;
  margin: 1rem auto 0;
  background-image: url('../../assets/three.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.homePagePh>div:nth-child(4){
  width: 90%;
  height: 6rem;
  margin: 1rem auto 0;
  background-image: url('../../assets/four.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.homePagePh>div:last-child{
  width: 90%;
  height: 6rem;
  margin: 1rem auto 0;
  background-image: url('../../assets/five.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.homePagePh>div>.title{
  font-size:1rem;
  color:rgba(255,255,255,1);
  display: block;
  padding:1rem 0 0 2rem;
}
.homePagePh>div>.content{
  margin-left: 2rem;
}
.homePagePh>div>.content>span:first-child{
  font-size:1.5rem;
  font-weight:600;
  color:rgba(255,255,255,1);
}
.homePagePh>div>.content>span:last-child{
  font-size:1.13rem;
  font-weight:500;
  color:rgba(255,255,255,1);
}
.homePagePh>div>.content>img{
  display: block;
  float: left;
  height: 1rem;
  margin-top: 1rem;
}