.qualification{
	height: 100%;
}
.qualification .header{
	width: 100%;
	height: 80px;
	background:rgba(67,101,230,1);
}
.qualification .heCenter{
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.qualification .heCenter .logo{
	display: block;
	width: 96px;
	height: 92px;
	margin-top: 14px;
	float: left;
}
.qualification .heCenter .title{
	font-size: 20px;
    color: #FFFFFF;
    display: block;
    float: left;
    margin-left: 14px;
    line-height: 80px;
    font-family: PingFang-SC-Bold;
}
.qualification .content{
	width: 80%;
	margin: 20px auto;
	-moz-box-shadow:0 2px 2px  2px #DDDDDD; 
	-webkit-box-shadow:0 2px 2px  2px #DDDDDD;
	box-shadow:0 2px 2px  2px #DDDDDD;
	height: 85%;
	overflow-y: auto;
}
.qualification .nav{
	width: 95%;
	margin: 20px auto;
	display: flex;
}
.qualification .nav div{
	position: relative;
}
.qualification .nav div>span{
	position: absolute;
	z-index: 99;
	display: block;
	width: 100%;
	text-align: center;
	line-height: 43px;
}
.qualification .nav div>img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.qualification .nav div:first-child{
  color: #fff;
}
.qualification .nav div:nth-child(2){
	color: #fff;
  }
.qualification .nav div{
   flex: 1;
   height: 43px;
   color: #333;
   line-height: 43px;
   text-align:center;
   margin-left:10px ;
}
.qualification .contentSon{
	width: 650px;
	margin: 60px auto 0;
	padding-bottom: 80px;
}
.qualification .titile{
 	display: block;
	font-size: 20px;
	color: #4A4A4A;
	font-weight: 550;
	width: 150px;
	text-align: right;
}
.qualification .area{
	margin-top: 20px;
}
.qualification .symbol{
	color: #F64A0C ;
	display: block;
	float: right;
}
.qualification .boTitle{
	font-size: 16px;
	color: #4A4A4A;
	margin-right: 5px;
	display: block;
	float: right
}
.qualification .one{
	margin-left: 26.8px;
	height: 26px;
}
.qualification .name{
	margin-top: 20px;
	overflow: hidden;
}
.qualification .nameINput{
	width: 273px;
	height: 35px;
}
.qualification .dingImg{
	margin-left: 9px
}
.qualification .addImg{
width: 132px;
height: 100px;
display: inline-block;
}
.qualification .rightText{
	font-size: 12px;
	color: #9B9B9B;
	display: inline-block;
	margin-left: 10px;
}
.qualification .two{
	margin-left: 45px;
}
.qualification .kong{
	display: inline-block;
	width: 60px;
}
.qualification .textarea{
	width: 539px;
	height: 114px;
}
.qualification .prompt{
	margin-left: 150px;
	font-size: 14px;
	color: #4A4A4A;
	margin-top: 20px;
}
.qualification .prompt>span{
	color: #F64A0C;
}
.qualification .next{
	background: #F5A623;
	border-radius: 2px;
	width: 150px;
	height: 45px;
	margin-left: 150px;
	margin-top: 20px;
	font-size: 16px;
	color: #FFFFFF;
}


.qualification .ant-select-selection--single{
	height: 33px;
	
}
.qualification .ant-select-selection__rendered{
	line-height: 35px;
}
.qualification .ant-input{
	height: 33px;
}
.qualification .nameSonTle{
	width: 130px;
	float: left;
	margin-right: 20px;
}
.qualification .sreach{
	padding: 8px 8px;
	color: #fff;
	border-radius: 2px;
	background-color: #F5A623;
	cursor: pointer;
}
.qualification .ant-select-single .ant-select-selector .ant-select-selection-item, .ant-select-single .ant-select-selector .ant-select-selection-placeholder{
	line-height: 35px;
}
.qualification .ant-upload.ant-upload-select-picture-card > .ant-upload{
	position: relative;
	overflow: hidden;
}
.qualification .addImg .ant-upload.ant-upload-select-picture-card{
	padding: 8px;
}

.qualification .addimgT .ant-upload.ant-upload-select-picture-card{
	padding: 0;
}

.qualification .masking{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qualification .hidden{
    display: none;
}
.qualification .masking img{
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}

