.myWallet{
 display: block;
 height: 100%;
}
.myWallet .header{
   height: 46px;
   background: #fff;
   margin-top: 8px;
}

.myWallet .header .select{
    font-size: 16px;
    color: #4A4A4A;
    padding-left: 25px;
    line-height: 46px;
    display: block;
    float: left;
}
.myWallet .header .selectN{
    margin-left: 12px;
    float: left;
    margin-top: 10px;
}
.myWallet .header .addList{
    width: 50px;
    height: 22px;
    background: #F5A623;
    border-radius: 2px; 
    font-size: 12px;
    color: #FFFFFF;
    line-height: 22px;
    float: right;
    text-align: center;
    margin-right: 40px;
    margin-top: 12px;
    cursor: pointer;
}

.myWallet .xiange{
    height: 8px;
    background: #F5F5F5
}
.myWallet .ant-calendar-picker{
    margin-top: 10px;
    margin-left: 15px;
    float: left;
}
.myWallet .query{
    width: 49px;
    height: 26px;
    background: #F5A623;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.myWallet .rightMoney{
    float: right;
    margin-right: 50px;
}
.myWallet .rightMoney .sum{
    font-size: 16px;
    color: #4A4A4A;
    float: left;
    margin-right: 20px;
    line-height: 46px;
}
.myWallet .rightMoney .withdrawal{
    width: 62px;
    height: 26px;
    background: #F5A623;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 26px;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
}
.myWallet .oneText{
    text-align: left;
    padding-left: 25px;
}
.myWallet .ant-row{
    border-bottom: 1px solid #E1E0E1;
}
.myWallet  .fenye{
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.myWalletNone{
    display: none;
}
.record{
    display: block;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 20px;
}
.record .previousStep{
    padding-left: 25px;
    cursor: pointer;
}
.record .header>span{
    display: block;
    line-height: 46px;
    float: left;
    font-size: 16px;
}
.record .header>span:last-child{
    color: #F5A623;
}
.hidden{
    display: none;
}

.withdrawal .header>span{
    display: block;
    line-height: 46px;
    float: left;
    font-size: 16px;
}
.withdrawal .header>span:last-child{
    color: #F5A623;
}
.withdrawal .previousStep{
    padding-left: 25px;
    cursor: pointer;
}
.withdrawal .balance{
    height: 77px;
    background: #FCF7EE;
    border-top: 1px solid #E8D2AD;
    border-bottom: 1px solid #E8D2AD;
    line-height: 77px;
    font-size: 16px;
    color: #4A4A4A;
}
.withdrawal .balance >span:first-child{
  padding-left: 90px;
  font-weight: bold;
}
.withdrawal .balance >span:nth-child(2){
    color: #F64A0C;
    padding-left: 53px;
}
.withdrawal .balance >span:last-child{
    font-size: 12px;
    color: #4A4A4A;
    padding-left: 5px;
}
.withdrawal .home{
   margin-left:90px; 
   margin-top: 30px;
}
.withdrawal .listSon{
    margin-top: 20px;
}
.withdrawal .listSon .input{
   width: 150px;
   height: 32px;
   margin-left: 50px;
}
.withdrawal .listSon .all{
    line-height: 32px;
    padding-left: 10px;
    font-size: 14px;
    color: #F5A623;
    cursor: pointer;
}
.withdrawal   .textNext{
    padding-left: 50px;
}
.withdrawal .comfir{
    width: 77px;
    height: 26px;
    background: #F5A623;
    border-radius: 2px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 110px;
    cursor: pointer;
}
.ant-calendar-range-picker-input{
    line-height: 100%;
}
.listMoney{
    height: 80%;
    overflow-y: auto;
    position: relative;
}
.moneyFoucs{
    position: absolute;
    right: 110px;
    bottom: 0;
}
