.myWallet{
 display: block;
 height: 100%;
}
.myWallet .header{
   height: 46px;
   background: #fff;
   margin-top: 8px;
}

.myWallet .header .select{
    font-size: 16px;
    color: #4A4A4A;
    padding-left: 25px;
    line-height: 46px;
    display: block;
    float: left;
}
.myWallet .header .selectN{
    margin-left: 12px;
    float: left;
    margin-top: 10px;
}
.myWallet .header .addList{
    width: 50px;
    height: 22px;
    background: #F5A623;
    border-radius: 2px; 
    font-size: 12px;
    color: #FFFFFF;
    line-height: 22px;
    float: right;
    text-align: center;
    margin-right: 40px;
    margin-top: 12px;
    cursor: pointer;
}

.myWallet .xiange{
    height: 8px;
    background: #F5F5F5
}
.myWallet .ant-calendar-picker{
    margin-top: 10px;
    margin-left: 15px;
    float: left;
}
.myWallet .query{
    width: 49px;
    height: 26px;
    background: #F5A623;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.myWallet .rightMoney{
    float: right;
    margin-right: 50px;
}
.myWallet .rightMoney .sum{
    font-size: 16px;
    color: #4A4A4A;
    float: left;
    margin-right: 20px;
    line-height: 46px;
}
.myWallet .rightMoney .withdrawal{
    width: 62px;
    height: 26px;
    background: #F5A623;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 26px;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
}
.myWallet .oneText{
    text-align: left;
    padding-left: 25px;
}
.myWallet .ant-row{
    border-bottom: 1px solid #E1E0E1;
}
.myWallet  .fenye{
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.myWalletNone{
    display: none;
}
.record{
    display: block;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 20px;
}
.record .previousStep{
    padding-left: 25px;
    cursor: pointer;
}
.record .header>span{
    display: block;
    line-height: 46px;
    float: left;
    font-size: 16px;
}
.record .header>span:last-child{
    color: #F5A623;
}
.hidden{
    display: none;
}

.withdrawal .header>span{
    display: block;
    line-height: 46px;
    float: left;
    font-size: 16px;
}
.withdrawal .header>span:last-child{
    color: #F5A623;
}
.withdrawal .previousStep{
    padding-left: 25px;
    cursor: pointer;
}
.withdrawal .balance{
    height: 77px;
    background: #FCF7EE;
    border-top: 1px solid #E8D2AD;
    border-bottom: 1px solid #E8D2AD;
    line-height: 77px;
    font-size: 16px;
    color: #4A4A4A;
}
.withdrawal .balance >span:first-child{
  padding-left: 90px;
  font-weight: bold;
}
.withdrawal .balance >span:nth-child(2){
    color: #F64A0C;
    padding-left: 53px;
}
.withdrawal .balance >span:last-child{
    font-size: 12px;
    color: #4A4A4A;
    padding-left: 5px;
}
.withdrawal .home{
   margin-left:90px; 
   margin-top: 30px;
}
.withdrawal .listSon{
    margin-top: 20px;
}
.withdrawal .listSon .input{
   width: 150px;
   height: 32px;
   margin-left: 50px;
}
.withdrawal .listSon .all{
    line-height: 32px;
    padding-left: 10px;
    font-size: 14px;
    color: #F5A623;
    cursor: pointer;
}
.withdrawal   .textNext{
    padding-left: 50px;
}
.withdrawal .comfir{
    width: 77px;
    height: 26px;
    background: #F5A623;
    border-radius: 2px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 110px;
    cursor: pointer;
}
.ant-calendar-range-picker-input{
    line-height: 100%;
}
.listMoney{
    height: 90%;
    overflow-y: auto;
    position: relative;
}
.moneyFoucs{
    position: absolute;
    right: 65px;
    bottom: -30px;
}

.mode .listing{
	overflow: hidden;
	margin-top: 20px;
}
.mode.listing>span{
	display: block;
	float: left;
}
.mode .listing>span:nth-child(1){
	width: 120px;
	text-align: left;
	font-size: 16px;
    line-height: 38px;
    float: left;
}
.mode .listing>span:nth-child(2){
	margin-left: 18px;
}
.mode .listing>span:nth-child(3){
	margin-left: 28px;
	color: #F5A623;
	cursor: pointer;
	display: inline-block;
	line-height: 38px;
}
.mode .listing .listingInput{
	width: 395px;
	height: 36px;
	margin-left: 18px;
	float: left;
}
.mode .listing .accountNum{
	margin-left: 18px;
	margin-top: 10px;
}
.mode .addImg{
    width: 132px;
    margin-left: 26.8px;
    float: left;
}
.mode .ant-upload-picture-card-wrapper{
    float: left;
    margin-left: 26.8px;
}
.mode .ko{
	margin-left: 138px;
}
.mode .submit{
	width: 89px;
	height: 28px;
	background: #F5A623;
	border-radius: 2px;
	float: left;
	margin-left: 150px;
	line-height: 20px;
	margin-bottom: 40px;

}
.mode .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    height: 36px;
}
.myWalletheaderTop{
    overflow: hidden;
    margin:9px 0 ;
}
.myWalletheaderTop>div{
    width: 111px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    background: #f5f5f5;
    border-radius: 2px;
    border: 1px solid #E1E0E1;
    font-size: 14px;
    float: left;
    margin-left: 27px;
    cursor: pointer;
}
.vipContent{
    height: 95%;
    background: #f5f5f5;
}
.vipContent .content{
    height: 95%;
    width: 100%;
    overflow: hidden;
}
.vipContent .content .backVip{
    width: 295px;
    height:180px;
    background:url(../../assets/backVip.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 27px;
    margin-top: 20px;
    float: left;
}
.vipContent .content .backVip .h1{
    font-size: 16px;
    display: block;
    padding: 30px 0 0 6px;
}
.vipContent .content .backVip .h2{
    font-size: 14px;
    display: block;
    padding: 6px 0 0 6px;
 
}
.vipContent .content .backVipTwo{
    width: 295px;
    height:180px;
    margin-left: 27px;
    margin-top: 20px;
    float: left;
}
.vipContent .content .backVipTwo>img{
    width: 100%;
    height: 100%;
    
    border-radius: 12px;
    
}
.vipContent .content .textContent{
    width: 95%;
    background: #fff;
    border-radius: 12px;
    float: left;
    margin-top: 20px;
    margin-left: 27px;
    padding: 0 18px 20px 18px;
}
.vipContent .content .textContent .head{
    padding: 10px 0;
    overflow: hidden;
}
.vipContent .content .textContent .head .title{
    float: left;
    display: block;
    line-height: 32px;
}
.vipContent .content .textContent .head .rightText{
    float: right;
    padding: 0 10px;
    display: block;
    line-height: 32px;
    cursor: pointer;
}
.vipContent .content  .query{
    width: 49px;
    height: 32px;
    background: #F5A623;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.vipLeft{
    display: block;
    width: 120px;
    float: left;
}
.vipFooter{
    float: right;
    margin-top: 15px;
}
.vipFooter span{
    width: 50px;
    height: 22px;
    float: right;
    margin-right: 20px;
    background: #F5A623;
    color: #fff;
    text-align: center;
    line-height: 22px;
    display: block;
    cursor: pointer;
}
.lpkji .ant-col{
    height: 50px;
    line-height: 50px;
}

.lpkji .masking{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lpkji .hidden{
    display: none;
}
.lpkji .masking img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
 .mode .ant-modal-footer{
    display: none;
 }
 .ant-modal-header{
    padding: 8px 16px;
    background: #F5A623;
 }
 .ant-modal-header .ant-modal-title{
     color: #fff;
 }
 .ant-modal-content{
    overflow: hidden;
    padding-bottom: 30px;
 }
 .mode .submit{
     color: #fff;
     margin-top: 20px;
     margin-left: 140px;
 }
