.monthlyIncomePh{
  height: 100%;
}
.monthlyIncomePh .headerTitle{
  height: 3rem;
  border-bottom:0.06rem solid #f5f5f5;
  text-align: center;
  line-height: 3rem;
  position: relative;
}
.monthlyIncomePh .timer{
  height: 3rem;
  background:rgba(245,245,245,1);
}
.monthlyIncomePh .timer .start{
  width: 6.5rem;
  height: 2rem;
  margin: 0.5rem 0 0 1rem;
}
.monthlyIncomePh .timer .end{
  width: 6.5rem;
  height: 2rem;
  margin: 0.5rem 0 0 0;
}

.monthlyIncomePh .ant-input{
  padding: 0;
  height: 2rem;
  font-size: 0.63rem;
  border-radius: 0.88rem;
  padding-left: 4px;
}
.monthlyIncomePh .ant-input:focus{
  border: none;
  box-shadow: none;
}
.monthlyIncomePh  .ant-calendar-picker-clear, .ant-calendar-picker-icon{
  right:5px;
}
.monthlyIncomePh .timer .text{
  float: right;
  margin-right: 0.8rem;
  font-size: 0.75rem;
  line-height: 3rem;
}
.monthlyIncomePh .timer .sreach{
  width: 4rem;
  height: 2rem;
  background: #D85D27;
  border-radius: 2rem;
}
.monthlyIncomePh .content{
  width: 90%;
  height: 85%;
  margin: 0 auto;
  display: block;
  padding-bottom: 3rem;
}
.monthlyIncomePh .moneyScroll{
   overflow-y: scroll;
   white-space: nowrap;
   height: 100%;
   width: 100%;
   position: relative;
}

.monthlyIncomePh .moneyScroll::-webkit-scrollbar {/*滚动条整体样式*/
  display: none;
}
.monthlyIncomePh .content .contentSon{
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  border-bottom: 0.06rem solid #F5F5F5;
  overflow: hidden;
}
.monthlyIncomePh .content .contentSon .left{
  float: left;
}
.monthlyIncomePh .content .contentSon .left>span:first-child{
  display: block;
  font-size:0.88rem;
  color:rgba(51,51,51,1);
}

.monthlyIncomePh .content .contentSon .left>span:last-child{
  display: block;
  font-size:0.75rem;
  color:rgba(155,155,155,1);
}
.monthlyIncomePh .content .contentSon .right{
  display: block;
  float: right;
  font-size:0.88rem;
  color:rgba(216,93,39,1);
  line-height:3rem;
  margin-right: 0.5rem;
}
.monthlyIncomePh .content .contentSon .image{
  width:0.44rem;
  height:0.69rem;
  float: right;
  display: block;
  margin-top: 1.2rem;
}
.monthlyIncomePh .fenye{
  overflow: hidden;
  display: flex;
  justify-content: center;
 
}
.contentNone{
  display: none;
}

.monthlyIncomePh .ant-result-icon{
  margin-bottom: 0;
}
.monthlyIncomePh .ant-result-title{
  font-size: 0.75rem;
}