.news .xiange{
   height: 8px;
   background: #F5F5F5
}
.news .heade{
    height: 46px;

}
.news .heade>span:first-child{
    padding-left: 25px;
    font-size: 16px;
    color: #4A4A4A;
    line-height: 46px;
}
.news .heade>span:last-child{
    font-size: 14px;
    color: #9B9B9B;
    padding-left: 15px;
    line-height: 46px;
}
.news .heade .button{
    width: 62px;
    height: 22px;
    background: #F5A623;
    border-radius: 2px;
    float: right;
    margin-right: 50px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin-top: 12px;
    cursor: pointer;
    font-size: 12px;
}