.news .xiange{
   height: 8px;
   background: #F5F5F5
}
.news .heade{
    height: 46px;

}
.news .heade>span:first-child{
    padding-left: 25px;
    font-size: 16px;
    color: #4A4A4A;
    line-height: 46px;
}
.news .heade>span:last-child{
    font-size: 14px;
    color: #9B9B9B;
    padding-left: 15px;
    line-height: 46px;
}
.news .heade .button{
    width: 62px;
    height: 22px;
    background: #F5A623;
    border-radius: 2px;
    float: right;
    margin-right: 50px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin-top: 12px;
    cursor: pointer;
    font-size: 12px;
}
.news .newsList{
    padding-left: 25px;
    min-height: 44px;
    border-bottom:1px solid #E1E0E1;
    overflow: hidden;
}
.news .newsList .check{
    float: left;
    margin-top: 12px;
}
.news .newsList  .btn{
    padding:2px 8px;
    line-height: 20px;
    margin-top: 12px;
    border:1px solid #E1E0E1;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block
}
.news .newsList .imgRight{
    float: right;
    margin-right: 50px;
    margin-top: 13px;
    
}
.news .newsList .textOne{
    width:50%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    float: left;
    margin-top: 12px;
    margin-left: 20px;
    cursor: pointer;
    
}

.news .fenye{
    margin-top: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.btnModel{
    float: right;
    margin-top: 20px;
}
.btnModel>div{
    float: left;
    width: 82px;
    height: 36px;
    background: #D8D8D8;
    border-radius: 2px;
    margin-left: 15px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    color:#fff;
}
.btnModel>div:last-child{
    background: #F5A623;
}

