.stadiumInformationPh{
    padding-bottom: 1rem;
}
.stadiumInformationPh .am-navbar{
    background: #374D66;
  }
.stadiumInformationPh .headTitle{
    height: 3rem;
    border-bottom: 0.06rem solid #f5f5f5;
    text-align: center;
    line-height: 3rem;
}
.stadiumInformationPh .title{
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 2.75rem;
    line-height: 3rem;
    background:#f5f5f5;
    color:#9B9B9B;
    position: relative;
}
.stadiumInformationPh .title>span{
    display: block;
    font-size:1rem;
     float: left;
     padding-left: 0.5rem;
}
.stadiumInformationPh .headTtitle{
    width: 100%;
    height: 3rem;
    background: #fff;
    font-size:1rem;
    line-height: 3rem;
    padding-left: 0.5rem;
}
.stadiumInformationPh .boss{
    width: 100%;
    height: 100%;
    background: #fff;
}
.stadiumInformationPh .boss .input{
    width: 95%;
    min-height: 46px;
    margin: 1rem 0 0 2.5%;
    border-bottom: 0.06rem solid #f3f3f3;
    float: left;
}
.stadiumInformationPh .boss .input>span{
    font-size:0.88rem;
    line-height: 44px;
    float: left;
}
.stadiumInformationPh .boss .input .select{
    width: 70%;
    height: 44px;
    margin-left: 1rem;
    float: left;
}
.stadiumInformationPh .ant-input{
    border:none;
}

.stadiumInformationPh .ant-cascader-picker:focus .ant-cascader-input {
    border: none;
    box-shadow: none;
}



 .stadiumInformationPh .ant-input:focus {
    border: none;
    box-shadow: none;
}
.stadiumInformationPh .input .imgAddress{
    width: 15px;
    height: 22px;
    margin-top: 0.88rem;
}
.stadiumInformationPh .addImg{
    width: 5rem;
    min-height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;       
    clear: both;
}
.stadiumInformationPh .addImg .ant-upload.ant-upload-select-picture-card{
    width: 100%;
    border:none;
    margin:0;
}
.stadiumInformationPh .addImg .ant-upload.ant-upload-select-picture-card > .ant-upload{
    padding:0;
}
.stadiumInformationPh .ant-upload.ant-upload-select-picture-card{
    border:none;
    width: 5rem;
    height: 5rem;
}
.stadiumInformationPh .ant-checkbox-wrapper{
    width: 6rem;
    margin-top: 8px;
}
.stadiumInformationPh .ant-checkbox-group{
    padding-bottom: 0.63rem;
}
.stadiumInformationPh .ant-upload-list-picture-card .ant-upload-list-item{
    width: 5rem;
    height: 5rem;
}
.stadiumInformationPh .btn{
    width: 90%;
    height: 3rem;
    background:rgba(216,93,39,1);
    border-radius:1.34rem;
    color: #fff;
    font-size: 1.06rem;
    text-align: center;
    line-height: 3rem;
    margin-top: 2rem;
    margin-left: 5%;
}

.stadiumInformationPh .ant-checkbox-wrapper{
    font-size: 0.75rem;
}

.stadiumInformationPh .am-list-item .am-list-line .am-list-content{
    font-size: 0.6rem;
}
.stadiumInformationPh .am-list-item .am-list-line .am-list-extra{
    font-size: 0.6rem;
    flex-basis:60%
}
.stadiumInformationPh .am-list-item .am-list-line{
    padding-right: 0;
}
.stadiumInformationPh .am-list-item{
    padding-left: 0;
   
}
html:not([data-scale]) .am-list-item:not(:last-child) .am-list-line::after{
    background-color: #fff;
}