.registerPh{
    height: 100%;
}
.registerPh .am-navbar{
    background: #374D66;
  }
.registerPh .title{
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 3rem;
    line-height: 3rem;
    background: #f5f5f5;
    position: relative;
}
.registerPh .title>span{
    display: block;
    font-size:1rem;
     float: left;
     padding-left: 0.5rem;
     color: #9B9B9B;
}
.registerPh .bossInput{
    background: #fff;
    height: 100%;
    position: relative;
}
.registerPh .input{
    width: 20rem;

    border-bottom:0.06rem solid #999999;
    margin:1rem auto 0;
    overflow: hidden;
}
.registerPh .input>input{
    height: 100%;
    border:none;
    outline: none;
}
.registerPh .input .ant-input-affix-wrapper{
    margin-top: 1rem;
}
.registerPh .ant-input{
    border:none;
}
.registerPh .ant-input:active{
    border: none;
}
 .registerPh .ant-input:focus {
    border: none;
    box-shadow: none;
}
.registerPh .codeInput{
    width: 60%;
    float: left;
}
.registerPh .codeBtn{
    float: right;
    width:5.56rem;
    height:1.5rem;
    background:#D85D27;
    border-radius:0.75rem;
    color: #fff;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
}
.registerPh .line{
    border:none;
}
.registerPh .btn{
    width: 20rem;
    height: 2.69rem;
    background:#D85D27;
    border-radius:1.34rem;
    line-height: 2.69rem;
    text-align: center;
    color: #fff;
    font-size: 1.06rem;
    margin: 0 auto;
}
.registerPh .am-button.am-button-disabled{
    opacity: 1;
}

.registerPh .logoRegister{
    display: block;
   margin: 20px auto 0;
}
 .modelTitlePh{
   font-size: 0.88rem;
   color: #4A4A4A;
   display: block;
   text-align: center;
   margin-top: 1.8rem;
   display: block;
}
 .modelPhonePh{
   font-size: 0.88rem;
   color: #4A4A4A;
   text-align: center;
   display: block;
   margin-top: 0.9rem;
}
.modelBtnPh{
   width: 5rem;
   height: 2rem;
   background: #F5A623;
   border-radius: 2px;
   left: 50%;
   margin-top: 1rem;
   margin-left: -2.5rem;
   color:#fff;
}
.registerPh .ant-input{
    height: 2rem;
}
.registerPh .am-list-item .am-input-label.am-input-label-5{
    width: 20px;
}

.registerPh .am-checkbox.am-checkbox-checked .am-checkbox-inner {
    background-color: #F5A623;
    border:1px solid  #F5A623;
}
.registerPh .am-checkbox{
    margin-top: -3px;
}
.registerPh .bossInput .am-list-item.am-input-item{
    width: 71%;
    float: left;
}