.registerPh .loginInput {
    width: 20rem;
    margin: 2rem auto 0;
}
.registerPh .loginInput .name{
    width: 100%;
    height: 3.06rem;
    border-bottom: 0.06rem solid #999;
}
.registerPh .loginInput .name .phone{
    outline: none;
    width: 70%;
    height: 3rem;
    border: none;
    line-height: 3.06rem;
    display: block;
    float: left;
}
.registerPh .loginInput .name>span{
  display: block;
  float: right;
  line-height: 3.06rem;
}
.registerPh .loginInput .name .obtain{
    width:5.56rem;
    height:1.5rem;
    background:rgba(216,93,39,1);
    border-radius:0.75rem;
    float: right;
    font-size:0.75rem;
    font-weight:500;
    color:rgba(255,255,255,1);
    text-align: center;
    line-height: 1.5rem;
    margin-top: 1rem;

}