.registerPh{
    height: 100%;
}
.registerPh .title{
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
.registerPh .title>span{
    display: block;
    font-size:0.88rem;
     float: left;
     padding-left: 0.5rem;
}
.registerPh .bossInput{
    background: #fff;
    height: 100%;
}
.registerPh .input{
    width: 20rem;
    height: 3rem;
    border-bottom:0.06rem solid #999999;
    margin:1rem auto 0;
    overflow: hidden;
}
.registerPh .input>input{
    height: 100%;
    border:none;
    outline: none;
}
.registerPh .input .ant-input-affix-wrapper{
    margin-top: 1rem;
}
.registerPh .ant-input{
    border:none;
}
.registerPh .ant-input:active{
    border: none;
}
 .registerPh .ant-input:focus {
    border: none;
    box-shadow: none;
}
.registerPh .codeInput{
    width: 60%;
    float: left;
}
.registerPh .codeBtn{
    float: right;
    width:5.56rem;
    height:1.5rem;
    background:rgba(216,93,39,1);
    border-radius:0.75rem;
    color: #fff;
    line-height: 1.5rem;
    margin-top: 0.8rem;
    text-align: center;
}
.registerPh .line{
    border:none;
}
.registerPh .btn{
    width: 20rem;
    height: 3rem;
    background:rgba(216,93,39,1);
    border-radius:1.34rem;
    line-height: 3rem;
    text-align: center;
    color: #fff;
    font-size: 1.06rem;
    margin: 0 auto;
}

.registerPh .logoRegister{
    display: block;
   margin: 20px auto 0;
}
.registerPh .modelTitle{
   font-size: 0.88rem;
   color: #4A4A4A;
   display: block;
   text-align: center;
   margin-top: 1.8rem;
}
.registerPh .modelPhone{
   font-size: 0.88rem;
   color: #4A4A4A;
   text-align: center;
   display: block;
   margin-top: 0.9rem;
}
.modelBtnPh{
   width: 5rem;
   height: 2rem;
   background: #F5A623;
   border-radius: 2px;
   left: 50%;
   margin-top: 1rem;
   margin-left: -2.5rem;
   color:#fff;
}
.registerPh .ant-input{
    height: 2rem;
}